* {
  margin: 0;
}


body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 20px;
}

.app__dropdown {
  /*background-color: white;*/
}
.image{
  width: 40px;
  height: 40px;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.chartjs-render-monitor{
  height: 300px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
  display: flex;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 2;
  padding-right: 20px;
  padding-Left: 20px;
}

.app__information > h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.app__right{
  flex: 1;
}
.app__right h3{
  margin: 20px 0 20px 0;
}
.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__stats{
    flex-direction: column;
    justify-content: center;

  }
  .app__left{
    padding: 0 ;
    margin-bottom: 10px;
  }
}






